/* global.css - This stylesheet applies global styles to all pages on the website */
/* Possible fonts needed*/
/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,700'); */
/* @import url('https://fonts.googleapis.com/css?family=Brush+Script+MT|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap'); Í*/
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

/* General body styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
    background-color:  #f4f4f4;
}

h1 {
    padding-left: 10px;
    font-size: 28px;
    color: #333;
}
h2 {
    font-size: 24px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

ul li a {
    text-decoration: none;
    /* Adds underline to links on hover*/
    color: #0073e6;
    /* the color is for main body, different from header and footer*/
}

ul li a:hover {
    text-decoration: underline;
}

.quotation_GOD {
    font-family: "Petit Formal Script", sans-serif;
    /* Sets a decorative font for GOD's word quotations */
    font-size: 1.5em;
    color: indianred;
    /* Sets red color for GOD's word quotations */
}
/* The class for source of the verse*/
.source {
    padding-left: 10px;
    font-size: 1em;
}

/* Start of Default Form */
form {
    padding: 20px;
    margin-top: 20px;
    background-color: #fff;
    border-left: 5px solid #0073e6;
}

.question {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

.radio-group {
    display: flex;
    justify-content: space-between;
}
textarea {
    width: 100%;
    height: 100px;
    margin-top: 5px;
}
input[type="submit"] {
    background-color: #0073e6;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    display: block; /* Make the input block level */
    margin-left: auto; /* Left margin is auto */
    margin-right: auto; /* Right margin is auto */
}
input[type="submit"]:hover {
    background-color: #0056b3;
}     
/* Header Styles */
.header-container {
    display: flex;
    /*flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
    /*background-color: #fff; /* sets a background color for the header */
}

.logo {
    flex-grow: 0;
    white-space: nowrap;
    max-width: 35%; 
    display: flex; /* Ensures the logo is properly aligned */
    align-items: center; /* Center the logo vertically */
}

.logo img {
    height:45px; /* Adjust the size of your logo */
}

.search-bar {
    flex-grow: 8;
    max-width: 70%;
    margin: 0 3em 0;
    display: flex; /* Ensures that the input and button are aligned */
}

.search-bar input[type="text"] {
    flex-grow: 1;
    margin-left: 1em;
    padding-left: 45px;
    font-size: 1.25em;
    background: url('../images/search.png') no-repeat 5px center transparent;
    background-size: 35px;
    line-height: 45px; 
    /* background: transparent; */
    border: 2px solid #333;
    border-radius: 20px;
    color: #333;

}

.navigation {
    display: flex; /* This will activate flexbox layout for the navigation bar */
    flex-grow: 0;
    justify-content: center; /* This centers the navigation items horizontally */
    align-items: center; /* This centers the navigation items vertically */
}

/* Styles for screens with width less than 768px */


.navigation ul {
    display: flex; /* Enables flexbox for the list, laying out the child elements in a row */
    list-style-type: none; /* Removes bullet points from the list */
    margin: 0;
    padding: 0;
}

.navigation ul li {
    margin: 0 5px; /* Adds some horizontal spacing between the navigation items */
}

.navigation ul li a {
    color: black;
    padding: 5px 10px;
}

.navigation ul li a:hover {
    color: #333;
}

.navigation ul li a.active {
    background-color: #808080; /* Sets a blue background for the active link */
    color: white; /* Sets the text color to white for better visibility */
    padding: 5px 10px; /* Adds some padding for a better visual appearance */
    border-radius: 5px; /* Optional: rounds the corners for a smoother look */
}

/* Styles for screens with width less than 768px */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: center; /* Adjust alignment as needed */
    }

    .logo, .search-bar, .navigation{
        width: 100%; /* Take full width to ensure they stack */
    }

    /* Maintain the navigation style */
    .navigation ul {
        display: flex; /* Keep the horizontal layout */
        justify-content: center; /* Center the items if needed */
        padding: 1em;
    }
}

/* center*/
.center{
    display: flex;
    justify-content: center;
}

/* Footer Styles */
.footer {
    font-size: 14px;
    width: 100%;  /* Ensures the footer takes the full width of its container */
    margin-top: 20px;
    box-sizing: border-box;
}        
.sitemap-container {
    display: flex; /* Enables flexbox layout for the container */
    flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
    gap: 2em;     /* Adds space between the flex items */
    background: #e0e0e0;
}

.sitemap-section {
    padding-left: 20px;
    flex: 1; /* Allows each section to grow and fill the available space */
    /* Each section will grow equally */
    min-width: 200px;
    /* Minimum width before wrapping */
}
.sitemap-section a {
    color: black; /* Black text color for links */
    text-decoration: none; /* Removes underline from links */
}

a:hover {
    text-decoration: underline; /* Adds underline on hover */
}